html {
    font-family: system-ui;
}
#titulo {
    display: flex;
    justify-content: center;
}
.c1 {
    max-width: 1200px;
    margin: 0 auto;
}
.colum-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.card img{
    width: 258.5px;
    height: 190px;
}


.card{
    width: 260px; 
    height: 400px;
}