*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testiomonios_header{
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonios_header h1{
    font-size: 2.9rem;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}
.testimonios_header span{
    font-size: 2.2rem;
    color: black;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.testimonios_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonios_caja{
    width: 500px;
    box-shadow: 2px 2px 30 px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
}
.perfil{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.3rem;
}
.name-user span{
    color: #979797;
    font-size: 1.1rem;
}
.caja-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comentarios_clientes p{
    color: #4b4b4b;
}
::selection{
    color: white;
    background-color: black;
}